<div class="page-header">
  <%= link_to 'Adicionar uma nova galeria', new_admin_gallery_gallery_path, :class => 'btn pull-right' %>

  <h2>Galerias</h2>
</div>

<%= render :partial => 'cms_admin/categories/index', :object => 'SofaGallery::Gallery' if defined?(ComfortableMexicanSofa) %>

<br />

<table class='table table-hover table-bordered'>
  <tbody class="sortable">
    <tr>
      <th> Imagem </th>
      <th> Nome </th>
      <th> Ações </th>
    </tr>
    <% @galleries.each do |gallery| %>
      <tr>
        <td class='preview'>
          <% gallery.photos.limit(1).each do |photo| %>
            <%= image_tag(photo.image.url(:admin_thumb)) %>
          <% end %>
        </td>
        <td class='main'>
          <%= link_to gallery.title, admin_gallery_gallery_photos_path(gallery) %>
        </td>
        <td class='action_links'>
          <%= link_to 'Ver fotos', admin_gallery_gallery_photos_path(gallery), :class => "btn btn-small btn-success" %>
          <%= link_to t('.edit'), edit_admin_gallery_gallery_path(gallery), :class => "btn btn-small" %>
          <%= link_to t('.delete'), admin_gallery_gallery_path(gallery), :method => :delete, :data => {:confirm => t('.are_you_sure')}, :class => "btn btn-small btn-dange" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>